@font-face {
  font-family: MetroOffice-Regular;
  src: url(./fonts/MetroOffice-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  line-height: 1.4;
}

body {
  font-family: "MetroOffice-Regular";
  background-color: grey;
}

button {
  margin: 0 1rem;
}

.play {
  background-image: url(./icons/playbutton.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 70px;
  width: 52px;
  border: none;
  background-color: inherit;
  transition: all 0.1s linear;
}

.pause {
  background-image: url(./icons/pauseButton.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 70px;
  width: 52px;
  border: none;
  background-color: inherit;
  transition: all 0.1s linear;
}
#previous-track {
  background-image: url(./icons/backButton.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 70px;
  width: 52px;
  border: none;
  background-color: inherit;
}
#next-track {
  background-image: url(./icons/forwardButton.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 70px;
  width: 52px;
  border: none;
  background-color: inherit;
}

.media-player {
  width: 30rem;
  margin: 0 auto;
  padding: 4px;
}

.media-player-image {
  width: 100%;
  border-radius: 4px;
}

.media-buttons {
  text-align: center;
  padding-left: 1rem;
}

.track-list-box {
  height: 40vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.header-shorty {
  padding-left: 2rem;
}

.header-runtime {
  padding-right: 2rem;
}

.track-list-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.tracks li {
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}

.track-time {
  float: right;
  margin: 1rem 2.5rem;
}

.track-icon {
  background-image: url(./icons/track-icon.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3px;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  margin-right: 0.9rem;
  border-radius: 6px;
}

h4 {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 5px;
}

#theatre-mode {
  transition: all 1s ease-out;
  width: 70%;
  margin: 0 auto;
}

#theatre-mode-bottom {
  will-change: opacity;
  transition: all 1s ease-out;
}

.scale-out {
  transform: scale(1.3) translateY(17%);
}

.fade-out {
  opacity: 0.5;
}
