* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

button {
  margin: 0 1rem;
}

.play {
  background-image: url(./icons/playButton.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 70px;
  width: 52px;
  border: none;
  background-color: inherit;
  transition: all 0.1s linear;
}

.pause {
  background-image: url(./icons/pauseButton.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 70px;
  width: 52px;
  border: none;
  background-color: inherit;
  transition: all 0.1s linear;
}
#previous-track {
  background-image: url(./icons/backButton.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 70px;
  width: 52px;
  border: none;
  background-color: inherit;
}
#next-track {
  background-image: url(./icons/forwardButton.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 70px;
  width: 52px;
  border: none;
  background-color: inherit;
}

.media-player {
  width: 30rem;
  margin: 0 auto;
  padding: 4px;
}

.media-player-image {
  width: 100%;
}

.media-buttons {
  text-align: center;
}

.track-list-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
  margin: 0 auto;
  padding: 4px;
}
