@font-face {
  font-family: MetroOffice-Regular;
  src: url(./fonts/MetroOffice-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  line-height: 1.4;
}

body {
  font-family: "MetroOffice-Regular";
  background-color: grey;
}

button {
  margin: 0 1rem;
}

.play {
  background-image: url(./icons/playbuttonfixed2.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 70px;
  width: 52px;
  border: none;
  background-color: inherit;
  transition: all 0.1s linear;
}

.pause {
  background-image: url(./icons/pauseButton.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 70px;
  width: 52px;
  border: none;
  background-color: inherit;
  transition: all 0.1s linear;
}
#previous-track {
  background-image: url(./icons/backButton.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 70px;
  width: 52px;
  border: none;
  background-color: inherit;
}
#next-track {
  background-image: url(./icons/forwardButton.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 70px;
  width: 52px;
  border: none;
  background-color: inherit;
}

.media-player {
  width: 30rem;
  margin: 0 auto;
  padding: 4px;
}

.media-player-image {
  width: 100%;
}

.media-buttons {
  text-align: center;
  padding-left: 1rem;
}

.track-list-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.tracks li {
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}

.track-time {
  float: right;
  margin-top: 2rem;
}

.track-icon {
  background-image: url(./icons/track-icon.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3px;
  width: 3rem;
  height: 3rem;
  display: inline-block;
  margin-right: 0.9rem;
}

h4 {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 5px;
}
